@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition-duration: 300ms;
}

body {
  font-family: "Poppins", sans-serif;
}

@layer components {
  .max-container {
    max-width: 1240px;
    margin: 0 auto;
  }
  .full-shadow {
    box-shadow: 0px 0px 25px rgb(0, 0, 0 , .2)
  }
  .text-xsm {
    font-size: 12px;
  }
  .hero-height { 
    height:  calc(100vh - 100px)
  }
  
  .rounded-custom {
    border-radius: 25px 25px 0px  0px;
  }

  
  .text-5xl {
    font-size: 2.5rem  
  }

  .text-6xl {
    font-size : 3.25rem
  }

}

@layer utilities {
  .padding {
    @apply py-16;
  }
  .padding-x {
    @apply px-5 md:px-16 lg:px-20;
  }
  .margin-x {
    @apply mx-5 md:mx-16 lg:mx-20;
  }
  .section-spacing {
    @apply my-52
  }

}
